/* 自定义样式 */
body {
    background: url("/img/giphy.gif") no-repeat center center fixed;
    background-size: cover;
}
.login-form {
    margin-top: 35%;
    background-color: #EAEFFE90;
    border-radius: 20px;
}
.login-form label {
    font-weight: 600;
    /*color: #777;*/
    color: #212529;
}
.login-form .form-control {
    background-color: #FBFCFF;
    border-radius: 12px;
    box-shadow: none;
    border: none;
}
.login-form .btn-primary {
    background-color: #106CFF;
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all .3s ease;
}
.login-form .btn-primary:hover {
    background-color: #1058ff;
}
.login-form .custom-control-label {
    color: #777;
    font-weight: 500;
}
.login-form .custom-control-input:checked~.custom-control-label::before{
    border-color: #1890ff;
    background-color: #106CFF;
}
.login-form .input-group-text {
    background-color: #FBFCFF;
    border-radius: 12px 0 0 12px;
    border: none;
    box-shadow: none;
    color: #777;
    font-size: 16px;
}